<div class="header">
	<div class="button-group float-right">
		<a {{action "save"}} class="button button-small button-green">Save log</a>
	</div>

	New log entry
	<div class="sub-title">{{#link-to "routine"}}{{controllers.routine.model.name}}{{/link-to}}</div>
</div>

<ul class="link-list">
	{{#each entry in entries}}
		<li>
			{{view Ember.Checkbox checkedBinding="entry.completed" class="float-left"}}
			<a {{action "openPanel" "workout" entry.workout}}>{{entry.workout.name}}</a>
		</li>
	{{/each}}
</ul>