<div class="header">
	{{#if showOptions}}
		<button {{bind-attr class=":button :button-small :float-right active:button-red:button-green"}} {{action "toggleStatus"}}>{{planStateAction}}</button>
	{{else}}
		<button {{bind-attr class=":button :button-small :float-right active:button-green:button-red"}} {{action "showOptions"}}>{{planState}}</button>
	{{/if}}
	<button {{action "openPanel" "plan.edit" model}} class="button button-small button-default float-right">Edit</button>

	{{name}}
</div>

<div class="plan-details">
	<div class="quick-schedule">
		<h3 class="quick-schedule-title">Quick schedule</h3>

		{{#if active}}
			{{#if routines}}
				{{#each item in quickSchedule}}
					<div class="quick-schedule-item">
						<span class="label">{{getWeekdayName item.day}}</span>
						<span class="items">
							{{#if item.routines}}
								{{!niceListOfRoutines day.routines}}
								{{#each routine in item.routines}}
									<div>{{#link-to "routine" routine}}{{routine.name}}{{/link-to}}</div>
								{{/each}}
							{{else}}
								Rest
							{{/if}}
						</span>
					</div>
				{{/each}}
			{{else}}
				<div class="message">Add some routines to build your schedule.</div>
			{{/if}}
		{{else}}
			<div class="message">This plan is currently inactive. To have the plan added to your schedule, <a {{action "toggleStatus"}}>activate</a> it now.</div>
		{{/if}}
	</div>

	<div class="description">
		<p>{{description}}</p>
	</div>

</div>

<ul class="link-list border-top">
	{{#each routine in routines itemController="routineIndex"}}
		<li>
			<div class="button-group float-right">
				{{partial "routine/weekdays"}}
			</div>
			{{#link-to "routine" routine}}{{routine.name}}{{/link-to}}
		</li>
	{{/each}}

	<li>
		<button {{bind-attr class=":button :button-blue newRoutineName::hidden"}} {{action "create"}}>Create routine</button>
		{{input type="text" placeholder="Add a routine..." value=newRoutineName action="create" class="blend"}}
	</li>
</ul>