<div class="header">
	<div class="button-group float-right">
		{{#link-to "logs.new" class="button button-small button-blue"}}New log{{/link-to}}
		<a {{action "openPanel" "routine.edit" model}} class="button button-small button-default">Edit</a>
	</div>

	{{name}}
	<div class="sub-title">{{#link-to "plan"}}{{controllers.plan.content.name}}{{/link-to}}</div>
</div>

<div class="routine-details">
	<div class="summary">
		<div class="button-group">
			{{partial "routine/weekdays"}}
		</div>
		<div class="upcoming">
			{{#if next.isToday}}
				You are scheduled to complete this routine today
			{{else}}
				{{#if next}}
					{{getWeekdayName next.day}} is the next time you have to do this routine.
				{{else}}
					Select a day to schedule this routine for that day, every week.
				{{/if}}
			{{/if}}
		</div>
		{{#each userTask in userTasks}}
			<div class="action">
				{{userTask.task}}
				<div class="button-group">
					{{#each button in userTask.buttons}}
						<a {{action "doTask" button.action}} {{bind-attr class=":button :button-small button.color"}}>{{button.text}}</a>
					{{/each}}
				</div>
			</div>
		{{/each}}
	</div>
	<div class="log-history">
		{{#each log in logs}}
			{{#if log.completed}}
				<div class="log">
					{{#link-to "log" log}}You completed this routine{{/link-to}}
					<div class="timestamp">{{fromNow log.dateCompleted}}</div>
				</div>
			{{else}}
				<div class="log">
					{{#link-to "log" log}}You have an incomplete log for this routine{{/link-to}}
					<div class="timestamp">Started {{fromNow log.dateCreated}}</div>
				</div>
			{{/if}}
		{{/each}}
	</div>
</div>

<ul class="link-list border-top">
	{{#each workout in workouts}}
		<li>
			<a {{action "openPanel" "workout" workout}}>{{workout.name}}</a>
		</li>
	{{/each}}

	<li>
		<button {{bind-attr class=":button :button-blue newWorkoutName::hidden"}} {{action "create"}}>Create workout</button>
		{{input type="text" placeholder="Add a workout..." value=newWorkoutName action="create" class="blend"}}
	</li>
</ul>

